@charset "utf-8";
@import "./reset.css";

main {
    overflow:hidden;
    background-image: url(../image/banner.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}

.hero::after {
    position: absolute;
    inset: 0 auto auto 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 0.4);
    z-index: 0;
}


.container {
    width: 600px;
    margin-inline:auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}

.center {
    font-size: 20px;
    font-weight: bolder;
    color: #e7e5e5;
    z-index: 1;
}

.purple { color: blueviolet;}
.orange { color: rgb(225, 92, 31);}
.green { color: rgb(34, 223, 24);}

input {
    
    height: 35px;
    border-radius: 15px;
    font-size: 12px;  
}

input[type=button] {
    width: 80px;
    background-color: rgb(54, 50, 168);
    color: white;
    cursor:pointer;
}

.model {
    color: rgb(73, 72, 72);
    position: absolute;
    height: 300px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 15px;
    font-size: 14px;
    z-index: 4;
}

#div-setting {
    display: none;
}

#setting {
    margin-left: 10px;
    color: rgb(54, 50, 168);
    background-color: #fff;
    border: 1px solid rgb(54, 50, 168);
}

.info {
    margin-top: 10px;
    height: 170px;
}

.filter {
    filter: blur(3px);
}

.modal-container {
    position: absolute;
    top:0px;
    right: 0px;
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.model_show {
    visibility:visible;
}

.modal-transform {
    top: calc(50% - 150px);
    right: calc(50% - 150px);
    transition: transform 1s;
    transform: translate(0, 15px);
}

#save {
    width: 150px;
}

.modal-center {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #7c21f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #7c21f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .column {
    float: left;
    flex: 1 0 auto;
    border-radius: 5px;
    font-weight: bolder;
    width: 50%;
    justify-content: right;
    
}

.right {
    text-align: right;
    justify-items: right;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 40px;
}