@charset "utf-8";

/*------------------------------------------*/
/* Reset Style                              */
/*------------------------------------------*/
:root {
    --app-background-color: rgb(42, 42, 42);
    --app-border-color: #3c3a3a;
    --ap-background-color-other: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    outline:none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    font-family: "Nunito Sans","Open Sans", Arial;
    line-height: 1.5;
    margin-inline: auto;
    background-color: var(--app-background-color);
    color: #13c6c3;
    border-radius: 0;
}